.side-menu {
  background-color: #262626;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 100%;
  transform: translateX(-100%);
  margin-bottom: 2.8rem;
  transition: all 0.7s;
  z-index: 50;
  scrollbar-width: thin;
}

.side-menu .logo {
  width: 12.5%;
  height: auto;
  margin: 5px auto;
  margin-bottom: 10px;
  display: block;
}

.side-menu__chapter__heading {
  display: block;
  background-color: #d49318;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
}

.side-menu__chapter__heading:hover {
  background-color: #ffc14f;
}

.side-menu__chapter__list {
  margin: 0.8rem 0;
}

.side-menu__chapter__list__item {
  margin: 0;
}

.side-menu__chapter__list__item__link {
  padding: 0.2rem 1.4rem;
  display: block;
  color: #fff;
  transition: all 0.1s;
}

.side-menu__chapter__list__item__link:hover {
  background-color: #ffe7bb;
  color: #000;
}

.overlay {
  background-color: #35353577;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 20;
  display: none;
}

.expand {
  transform: translateX(0);
}

@media (min-width: 650px) {
  .side-menu {
    width: 60%;
  }
}

@media (min-width: 850px) {
  .side-menu {
    margin-bottom: 0;
    width: 40%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h4 {
  font-family: "Inter", sans-serif;
}

html {
  scrollbar-width: thin;
}

a {
  text-decoration: none;
  color: #000;
}

li,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0.5rem 0;
  line-height: 1.5;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 2rem auto;
  margin-bottom: 4rem;
}

.content {
  transition: all 0.2s;
}

.content__heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.content__objectives {
  border-left: 2px #ffc14f solid;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
}

.content__objectives__heading {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.content__objectives__list {
  list-style: decimal;
  margin-left: 2rem;
}

.content__objectives__list__items:not(.content__objectives__list__items:last-child) {
  margin-bottom: 1rem;
}

.content .bold {
  font-weight: 700;
}

.content .italic {
  font-style: italic;
}

.content__sub-heading {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content__note {
  border-left: 2px solid #ffc14f;
  padding: 0.5rem 0.5rem;
  margin: 2.4rem 0;
  background-color: #ffc14f15;
  display: grid;
  grid-template-columns: 55px 1fr;
}

.content__note p {
  font-size: 1rem;
}

.content__facts {
  padding: 0.5rem 1rem;
  border: 2px solid #aaaaff;
  border-radius: 7px;
  margin: 2.4rem 0;
}

header {
  background-color: #262626;
  text-align: center;
  position: relative;
}

header .logo {
  width: 12.5%;
  height: auto;
  padding: 10px 0;
}

header .name__site {
  font-family: "Bree Serif", serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #fff;
  padding: 10px 0;
}

header .name__authors {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffc14f;
  padding: 10px 0;
}

.nav {
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0%;
  bottom: 0%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px, rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.nav__list .empty {
  background-color: #eeeeee;
  margin: 0%;
  border-left: 1px solid #dbdbdb;
  display: none;
}

.nav__list__item {
  margin: 0%;
  background-color: #eeeeee;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  border-left: 1px solid #dbdbdb;
}

.nav__list__item:hover {
  background-color: #fbfbfb;
}

.nav__list__item__link {
  display: block;
  padding: 0.4rem 0;
  flex: 1;
  display: flex;
}

.nav__list__item__link .nav__icon {
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.nav__list__item__link h2 {
  margin: auto;
  font-size: 1rem;
}

.nav .invisible {
  display: none;
}

@media (min-width: 800px) {
  header {
    display: flex;
  }
  header .logo {
    width: 90px;
    height: auto;
    margin-left: 2%;
  }
  header .name {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }
  header .name__site {
    font-size: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  header .name__authors {
    padding: 0;
    font-size: 1.1rem;
  }
  .container {
    width: 700px;
  }
}

@media (min-width: 850px) {
  .nav {
    position: sticky;
    top: 0%;
    z-index: 10;
  }
  .nav__list {
    display: grid;
    grid-template-columns: 50px 100px 1fr repeat(3, 50px);
  }
  .nav .invisible {
    display: flex;
  }
  .nav .empty {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */