@import "./Layouts/sideMenu";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h4 {
  font-family: "Inter", sans-serif;
}

html {
  scrollbar-width: thin;
}

a {
  text-decoration: none;
  color: #000;
}

li,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0.5rem 0;
  line-height: 1.5;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 2rem auto;
  margin-bottom: 4rem;
}

.content {
  transition: all 0.2s;
  &__heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__objectives {
    border-left: 2px #ffc14f solid;
    padding: 0.5rem 0.5rem;
    margin-bottom: 2rem;

    &__heading {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }

    &__list {
      list-style: decimal;

      margin-left: 2rem;
      &__items {
        &:not(&:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  &__sub-heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &__note {
    border-left: 2px solid #ffc14f;
    padding: 0.5rem 0.5rem;
    margin: 2.4rem 0;
    background-color: #ffc14f15;

    display: grid;
    grid-template-columns: 55px 1fr;
    p {
      font-size: 1rem;
    }
  }

  &__facts {
    padding: 0.5rem 1rem;
    border: 2px solid #aaaaff;
    border-radius: 7px;
    margin: 2.4rem 0;
    p {
    }
  }

  &__conclusion {
  }
}

header {
  background-color: #262626;
  text-align: center;
  position: relative;

  .logo {
    width: 12.5%;
    height: auto;
    padding: 10px 0;
  }

  .name {
    &__site {
      font-family: "Bree Serif", serif;
      text-decoration: none;
      font-size: 0.8rem;
      color: #fff;
      padding: 10px 0;
    }

    &__authors {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 0.9rem;
      color: #ffc14f;
      padding: 10px 0;
    }
  }
}

.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0%;
  bottom: 0%;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    &__item {
      margin: 0%;
      background-color: #eeeeee;
      transition: all 0.2s;

      &:hover {
        background-color: #fbfbfb;
      }

      &__link {
        display: block;
        padding: 0.4rem 0;

        &:not(&:last-child) {
          border-left: 1px solid #dbdbdb;
        }

        display: flex;
        .nav__icon {
          width: 2rem;
          height: 2rem;
          margin: auto;
        }
      }
    }
  }
  .invisible {
    display: none;
  }
}

@media (min-width: 800px) {
  header {
    display: flex;

    .logo {
      width: 90px;
      height: auto;
      margin-left: 5%;
    }

    .name {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2rem;

      &__site {
        font-size: 1rem;
        padding-bottom: 0px;
        padding-top: 0px;
      }

      &__authors {
        padding: 0;
        font-size: 1.1rem;
      }
    }
  }
  .container {
    width: 700px;
  }
}

@media (min-width: 850px) {
  .nav {
    position: sticky;
    top: 0%;

    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
