.side-menu {
  background-color: #262626;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 100%;
  transform: translateX(-100%);
  margin-bottom: 3rem;
  transition: all 0.7s;
  z-index: 50;

  //   &:hover {
  //     transform: translateX(0);
  //   }

  scrollbar-width: thin;

  .logo {
    width: 12.5%;
    height: auto;
    margin: 5px auto;
    margin-bottom: 10px;
    display: block;
  }

  &__chapter {
    &__heading {
      display: block;
      background-color: #d49318;
      padding: 0.4rem 0.8rem;
      font-size: 1.2rem;

      &:hover {
        background-color: #ffc14f;
      }
    }

    &__list {
      margin: 0.8rem 0;
      &__item {
        margin: 0;
        &__link {
          padding: 0.2rem 1.4rem;
          display: block;
          color: #fff;
          transition: all 0.1s;
          &:hover {
            background-color: #ffe7bb;
            color: #000;
          }
        }
      }
    }
  }
}
